h1{
    margin: 50px;
}

.welcome{
    font-size: 40px;
    margin: 60px;
}

.w{
    color: coral;
}

.e{
    color: blueviolet;
}

.l{
    color: crimson;
}

.c{
    color: green;
}

.o{
    color: dodgerblue;
}

.m{
    color: deepskyblue;
}

.t{
    color: mediumseagreen;
}

.y{
    color: mediumslateblue;
}

.p{
    color: mediumvioletred;
}

.r{
    color: mediumaquamarine;
}

.f{
    color: mediumturquoise;
}

.i{
    color: gold;
}
